<h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
<div class="ab_box">
  <div class="leftbox">
    <div class="newsview">
      <div class="news_infos">
        <!--<div class="about_c">
            <p>网名：<span>{{.options.nickname}}</span></p>
            <p>生日：{{.options.mybirth}}</p>
            <p>籍贯：{{.options.myoldcity}}</p>
            <p>现居：{{.options.mycity}}</p>
            <p>职业：{{.options.myprifessional}}</p>
            <p>主要职责：<br/></p>
            <p>擅长语言：{{.options.mylang}}</p>
            <p>爱好：{{.options.mylike}}</p>
          </div>-->
      </div>
    </div>
  </div>
  <div class="rightbox">
    <div class="aboutme">
      <h2 class="hometitle">关于我</h2>
      <div class="avatar"> <img src="{{.root}}images/avatar.jpg"> </div>
      <div class="ab_con">
        <p>网名：鸿生</p>
        <p>职业：后端攻城狮、游戏开发 </p>
        <p>个人微信：XXXXXXXXXXXXXX</p>
        <p>邮箱：274587520@qq.com</p>
      </div>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="{{.root}}images/wx.jpg">
      </ul>
    </div>
  </div>
</div>