<h1 class="t_nav">
    <span>归类就像规划人生一样，定位、正确、坚持。 </span>
    <a href="/" class="n1">网站首页</a>
    <a href="/" class="n2">归类归档</a>
</h1>
<div class="picbox">
    <div class="cloud" style="width: 99%">
        <h2 class="hometitle">标签</h2>
        <ul style="width: 99%">
            <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
        </ul>
    </div>
</div>
<div class="sidebar">
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="lmnav">
        <h2 class="hometitle">栏目导航</h2>
        <ul class="navbor">
            <li><a href="#">关于我</a></li>
            <li><a href="share.html">软文分享</a>
                <ul>
                    <li><a href="list.html">个人博客软文</a></li>
                    <li><a href="#">HTML5软文</a></li>
                </ul>
            </li>
            <li><a href="list.html">学无止境</a>
                <ul>
                    <li><a href="list.html">学习笔记</a></li>
                    <li><a href="#">HTML5+CSS3</a></li>
                    <li><a href="#">网站建设</a></li>
                </ul>
            </li>
            <li><a href="#">慢生活</a></li>
        </ul>
    </div>

     <div class="weixin">
      <h2 class="hometitle">微信</h2>
      <ul>
        <img src="{{.root}}images//wx.jpg">
      </ul>
    </div>
</div>
